<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <!-- Load Require CSS -->
        <link href="/build/css/bootstrap.min.css" rel="stylesheet">

        <!-- Font CSS -->
        <link href="/build/css/boxicon.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

        <!-- Load Tempalte CSS -->
        <link rel="stylesheet" href="/build/css/templatemo.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/build/css/custom.css">

        

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig'%}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig'%}


            <!-- Bootstrap -->
    <script src="/build/js/bootstrap.bundle.min.js"></script>
    <!-- Load jQuery require for isotope -->
    <script src="/build/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="/build/js/isotope.pkgd.js"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function() {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function() {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>
    <!-- Templatemo -->
    <script src="/build/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="/build/js/custom.js"></script>

    </body>
</html>
